body {
    background-color:#080808;
    background-image: url("../image/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    color:white;
    text-align:center;
}

h1, h2, h3{
	margin:20px auto;
}

h1{
	color: white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
    	display: inline;
}

h2{
	color: white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
    margin:2px;
}

h3{
	color:#AAA;
	font-family:Helvetica;
}

h4{
	color:#AAA;
	font-family:Helvetica;
}


hr{
	clear:both;
}

a{
	color: #CCC;
	font-size: 20px;
}

nav{
	margin: 30px 0px;
}

nav a{
	padding: 5px 15px;
	text-decoration:none;
	border-style:solid;
	border-width: 1px;
	border-color:#AAA;
	border-radius:5%;
}

nav a:hover{
	border-color:#89F8A0;
	color:#89F8A0;
}

#LeftCircle {
    position:fixed;
    margin-left:-25%;
    width:50%;
    height:100%;
    border-radius: 50%;
    overflow:hidden;
    display:inline-block;
    vertical-align:text-top;
    z-index: -1;
}
#LeftCircle img{
    width:100%;
}

#MainSect{
    display:inline-block;
    width:1260px
}

#profile {
    margin:0px 0px 10px 0px;
    text-align:left;
    width:100%;
}

.cpyright{
	vertical-align:sub;
}

#basicinfo{
    display:inline-block;
    vertical-align:middle;
    text-align:left;
}

#profileimage{
    display:inline-block;
    vertical-align:middle;
    width:240px;
    padding:10px;
    float:right;
}

.projectscontainer{
    margin-bottom:50px;
    text-align:left;
}

.projectscontainer .yeartag{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align:left;
    font-size:150%;
    margin-bottom:1.5%;

}

.projectoverview {
    display:inline-block;
    /*width:25%;*/
    width:300px;
    text-align:center;
    vertical-align: top;
    margin-right:15px;
    margin-bottom:30px;
}

.projectoverview .pic{
    height:486px;
}

.projectoverview hr{
    border: 1px solid #888;
    display:none;
}

/*Language*/
.language{
	text-align:right;
}

.language button{
	margin: 5px 0px;
	padding: 0;
	border: none;
	background: none;
	text-decoration: underline;
	cursor: hand; 
	color:white;
}

body:not(.cn) :lang(cn),
body:not(.en) :lang(en) {
  display: none;
}

title:not(.cn) :lang(cn),
title:not(.en) :lang(en) {
  display: none;
}



















