body {
  background: #181818;
  	text-align:center;
}

ul{
	text-align:center;
	list-style-type:none;
}

ul a{
	font-size:14px;
}

li{
	display: inline-block;
	margin: 10px 30px;
}

h1, h2, h3{
	margin:20px auto;
}

h1{
	color: white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

h2{
	color: white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

h3{
	color:#AAA;
	font-family:Helvetica;
}

h4{
	color:#AAA;
	font-family:Helvetica;
}

.quote{
	font-size:20px;
	margin:30px 0px;
}

hr{
	clear:both;
	margin: 20px 0px;
}

a{
	color: #CCC;
	font-size: 20px;
}

nav{
	margin: 30px 0px;
}

nav a{
	padding: 5px 15px;
	text-decoration:none;
	border-style:solid;
	border-width: 1px;
	border-color:#AAA;
	border-radius:5%;
}

nav a:hover{
	border-color:#89F8A0;
	color:#89F8A0;
}
	
.header {
  height: 25px;
  background: #111;
  color: #fff;
  text-align: center;
  font: 11px/25px Helvetica, Arial, sans-serif;
}

footer {
  height: 25px;
  background: #111;
  color: #fff;
  text-align: center;
  font: 11px/25px Helvetica, Arial, sans-serif;
}

.header a {
  color: #eee;
}

.header a:hover {
  text-decoration: none;
}

center{
	padding: 0px 10%;

}

.serverinfo{
	float:left;
	width:150px;
	vertical-align:middle;
}

.profile{
	margin:10px 100px;
	display:inline-block;
	vertical-align:middle;
}

.intro{
	width: 500px;
	text-align:left;
	vertical-align:middle;
	margin:10px auto;
	font-family:"Comic Sans MS", cursive, sans-serif;
	display:inline-block;
	color: white;
 }

.summary{
	width:300px;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
 	margin: 20px 50px;
	word-wrap:break-word;
}

/*Language*/
.language{
	text-align:right;
}

.language button{
	margin: 5px 0px;
	padding: 0;
	border: none;
	background: none;
	text-decoration: underline;
	cursor: hand; 
	color:white;
}

body:not(.cn) :lang(cn),
body:not(.en) :lang(en) {
  display: none;
}

title:not(.cn) :lang(cn),
title:not(.en) :lang(en) {
  display: none;
}

.comment{
	text-align:left;
	display:inline-block;
}

.albumarea{
	display:inline-block;
}

.album{
	width:440px;
	display:inline-block;
	margin: 0px 0px 20px;
}

.album h2{
	margin: 0px;
}

.visPage{
	color:#CCC;
}

#JobSelection{
	width:30%;
	display:inline-block;
	vertical-align:middle;
}

#JobSelection h1{
	font-size:50px;
}

#JobSelection select{
	width:90%;
	height:4%;
	border:1px solid #FFF;
	font-size:100%;
	/*text-align:center;*/
}

.select{
	display:inline-block;
	text-align:right;
	width:40%;
	margin: 0% 0%;
	
}

#ChartArea{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	margin-left:0%;
	margin-right:-15%;
	width:75%;
	z-index: -1;

}

#myChart{
	width:100%;
	vertical-align:middle;
	z-index: -1;
	/*height:50%;*/
}

#colorMajor1, #colorMajor2{
	width:12px;
	height:12px;
	margin-right:12px;
}



















