.popup { 
      position: fixed; 
      z-index: 2; 
} 
.popup_bg { 
      position: fixed;     visibility: hidden; 
      height: 100%; width: 100%; 
      filter: alpha(opacity=70); /* for IE */ 
      opacity: 0.7; /* CSS3 standard */ 
      left: 0px; top: 0px; 
      background-color: #999; 
      z-index: 1; 
} 
.ytcontainer { 
      border: 2px solid #666; 
      clear: both; 
} 
.close_button { 
      font-family: Verdana, Geneva, sans-serif; 
      font-size: small; font-weight: bold; 
      color: #666; text-decoration: none; 
      display: block; float: right; 
      background-color: #FFF; 
      z-index: 3; cursor: default; 
      border: 2px solid #666; 
      margin-bottom: -2px; 
      padding: 0px 3px 0px 3px; 
} 
body { margin: 0px; } 