body{
	background:#000000;
}

.button1{
	position:fixed;
	width:50%;
	height:50%;
	overflow:hidden;
    top: 0;
    left: 0;
}

.button2{
	position:fixed;
	width:50%;
	height:50%;
	overflow:hidden;
    top: 0;
    right: 0;
}

.button3{
	position:fixed;
	width:50%;
	height:50%;
	overflow:hidden;
    bottom: 0;
    left: 0;
}

.button4{
	position:fixed;
	width:50%;
	height:50%;
	overflow:hidden;
    bottom: 0;
    right: 0;
}


img{
	width:100%;
	height:100%;
}

/*GROW*/
.grow img{
	-webkit-transition: all 1s ease;
	-webkit-filter:brightness(0.5);
}

.grow img:hover{
	-webkit-transform:scale(1.2);
	-webkit-filter:brightness(1);
}


