body{
	background-image:url(Images/background%20for%20what%20I%20did.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
img{
	width:16.5%;
	height:29.2%;
}	
.animations{
	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
    top: 31%;
    left: 8.4%;
}


.effects{
	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
    top: 31%;
    left: 42%;
}
.designs{
	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
    top: 31%;
    left: 75.1%;
}

