body{margin:10px 10%}

header {text-align: left; margin:10px 0px;}
header img {vertical-align:middle; height:110px;}
header h2 {vertical-align:middle; display:inline-block;}
header .title {margin:0px; width:70%; display:inline-block; vertical-align: middle; }
header .contact {margin:0px; text-align: right; vertical-align: middle; width:29%; display:inline-block;}

nav {background-color: #f9f9f9; height: 46px;border: 1px solid #ddd; border-radius: 2px; margin: 10px 0px;}
nav a {color: #777; float:left; text-decoration:none; text-align:center;border-right: 1px solid #ddd; padding:12px;}
nav a:hover {background-color:#f66; color:#fff;}

.advertisement{width:100%; border-radius: 2px;}

main{padding:0px; text-align:left;}

.left{ display:inline-block; width: 30%;margin: 20px 0px; vertical-align: top;}
.right{display:inline-block; width:68%; margin:20px 0px 20px 1.4%; vertical-align: top;}

.blue{border:1px solid #777; margin-bottom: 20px; border-radius: 2px;}
.blue h3{margin: 0px; padding: 5px 10px; background-color: #0068cc; color:white;}
.blue ul{text-align:left; padding:0px;margin: 0px 20px;}
.blue li{list-style-type: circle; border-bottom:1px dotted #777; margin: 15px 0px;}
.blue a{text-decoration: none; font-size:80%;}

.red{text-align: left; border:1px solid #777; margin-bottom: 20px; border-radius: 2px; overflow:hidden;}
.red h3{text-align:center; margin: 0px; padding: 5px 0px; width:20%; background-color: #ff8566; color:white; }
.red .content{border-top:1px solid #ff8566;}
.red img{width:20%; margin:10px; float: left;}
.red p{margin:0px; font-size:80%;}
.red ul{width:40%; display:inline-block;vertical-align:top; font-size: 80%;}
.red ul a{text-decoration:none;}
.red li{ margin:10px 0px;}
.red .pictext{width:30%; margin:1%; text-align:center; display:inline-block; vertical-align:top;}
.red .pictext img{width:100%;}
.red .pictext a{text-decoration:none; font-size:80%;}

footer{font-size:80%;}